<ion-item class="ion-comment item" ng-click="toggleComment(comment)">

	<div class="ion-comment--author">{{comment.user.display_name}}:</div>
	
	<div class="ion-comment--text">{{comment.content}}</div>
	
	<div class="ion-comment--replies">{{comment.replies.length || 0}} replies</div>
	
	<a class="button button-positive" ng-click="replyToComment(comment)"> 
		
		<span class="ion-ios-chatbubble comment__icon" style=""></span>
		
		Reply
		
	</a>
	
</ion-item>

<div class="reddit-post--comment--container">
	
	 <ul ng-if="!comment.showChildren" class="animate-if ion-comment--children">
		 
	    <li ng-repeat="comment in comment.responses">
	    
	    	<ion-comment comment="comment"></ion-comment>
	    
	    </li>
	    
	</ul>
	
</div>